<div class="container">
  <div class="test">
  <div class="login-box col-md-8 col-md-offset-2">
    <div class="col-sm-3 login-welcome">
      <span><h2>Laten we beginnen!</h2></span>
    </div>
    <div class="col-sm-9 login-form">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.email_field :email, autofocus: true %>
        </div>

        <div class="field">
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> karakters minimaal)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>

        <div class="actions">
          <%= f.submit "Registreer" %>
        </div>
      <% end %>
    </div>
  </div>
  </div>
</div>
