<div class="sidebar pull-left">
	<div class="img-circle-purple">
		<div class="img-circle-pink">
			<img src="http://placehold.it/90x90" class="img-circle">
		</div>
	</div>

	<p>Welkom, Zorgvrager</p>
	<ul>
		<li> <%=image_tag("icons/notification.svg") %> <br/> <a href="#"> Notificaties </a></li>
		<li> <%=image_tag("icons/notification.svg") %> <br/> <%=link_to("Oefeningen", exercises_oefeningen_path)%> </li>
		<li> <%=image_tag("icons/notification.svg") %> <br/> <%=link_to("Zorgvragers", patients_zorgvragers_path)%> </li>
		<li> <%=image_tag("icons/settings.svg") %> <br/> <%=link_to("Instellingen", home_settings_path)%> </li>
	</ul>
</div>

<%=image_tag("top-image.png", class: "top-page-image") %>

<div class="content-container">  
	
	<div class="content-info">
		<%= link_to (raw('Uitloggen')), destroy_user_session_path, :method => :delete, class:"pull-right" %>
		<h4>< Ga terug</h4>
		<h2>Je bent hier:</h2>
		<h1>Notificaties</h1>
		<h3>Notificaties van zorgvragers</h3>
	</div>
	<div class="content">
		<div class="row headers">
			<div class="col-md-2"><h3>Datum</h3></div>
			<div class="col-md-4"><h3>Melding</h3></div>
			<div class="col-md-2"><h3>Zorgvrager</h3></div>
			<div class="col-md-2"></div>
			<div class="col-md-2"><h3>Afgehandeld?</h3></div>
		</div>
		<div class="row content-item">
			<div class="col-md-2"><p>11-11-11</p></div>
			<div class="col-md-4"><p>Laser Eye Surgery A Risk Analysis For My Daughter</p></div>
			<div class="col-md-2"><p>Karen Wiersma</p></div>
			<div class="col-md-2"><a href="#"><button>Bekijken</button></a></div>
			<div class="col-md-2"><input type="checkbox"></div>
		</div>
		<div class="row content-item">
			<div class="col-md-2"><p>11-11-11</p></div>
			<div class="col-md-4"><p>Laser Eye Surgery A Risk Analysis For My Daughter</p></div>
			<div class="col-md-2"><p>Karen Wiersma</p></div>
			<div class="col-md-2"><a href="#"><button>Bekijken</button></a></div>
			<div class="col-md-2"><input type="checkbox"></div>
		</div>
	</div>
</div>
