<%= render 'home/sidebar' %>

<%=image_tag("top-image.png", class: "top-page-image") %>

<div class="content-container">  
	
	<div class="content-info">
		<%= link_to image_tag("icons/logout.svg"), destroy_user_session_path, :method => :delete, class:"pull-right"%>
		<%= link_to (raw('Uitloggen')), destroy_user_session_path, :method => :delete, class:"pull-right"%>

		<h4> <%= link_to image_tag("icons/previous.svg"), :back %> <%=link_to 'Ga terug', :back %> </h4>

		<h2>Je bent hier:</h2>
		<h1>Zorgvragers</h1>
		<h3>Profiel van [ZORGVRAGER]</h3>
	</div>

	<div class="content-patients">
		<div class="settings-header">
			<div class="col-sm-4 col-md-2">
				<div class="img-circle-outer">
					<div class="img-circle-inner">
						<img src="http://placehold.it/120x120" class="img-circle">
					</div>
				</div>
			</div>

			<div class="col-sm-3">
				<h3>Profiel van [ZORGVRAGER]</h3>
				<p>[BLESSURE]</p>
			</div>

			<div class="col-sm-1 pull-right icons" style="border-left: 2px solid grey">
				<div class="row"> <%= image_tag("icons/delete-user.svg", class:"pull-right")%> </div>
				<div class="row" style="margin-top: 15px;"> <%= image_tag("icons/edit.svg", class:"pull-right")%> </div>
			</div>

			<div class="col-sm-2 pull-right">
				<p>Kokoslaan 33</p>
				<p>Leeuwarden</p>
				<p>34 jaar</p>
				<p>rachelwaters@fitae.nl</p>
				<p>+31 600000000</p>
			</div>

			<div class="col-sm-2 pull-right">
				<p>Adres: </p>
				<p>Woonplaats: </p>
				<p>Leeftijd: </p>
				<p>E-mailadres: </p>
				<p>Telefoon: </p>
			</div>

		</div>
		<div class="content-patients row" style="margin: 0 !important;">
			<div class="col-sm-4 nopadding">
				<%= render 'patients/subnav' %>
				<div class="subnav-content">
					<ul>
						<li><a href="#">29 mei 2017</a></li>
						<li><a href="#">19 mei 2017</a></li>
						<li class="active"><a href="#">15 mei 2017</a></li>
					</ul>
				</div>
			</div>
			<div class="col-sm-8 description">
				<h2>melding</h2>
				<p>Er is met behulp van de Fitae schoen een weekopname gemaakt van van het looppatroon van zorgvrager Rachel Waters. Bekijk de timelapse hieronder om het looppatroon te bekijken.</p>
				<div class="video-container" style="margin-top: 50px;">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/eSslRCTRhJc" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
</div>
