<%= render 'home/sidebar' %>

<%=image_tag("top-image.png", class: "top-page-image") %>

<div class="content-container">  
	
	<div class="content-info">
		<%= render 'home/gobackandsignout' %>

		<h2>Je bent hier:</h2>
		<h1>Oefeningen</h1>
		<h3>Oefeningen van zorgvragers</h3>
	</div>
	<div class="content-patients">
		<div class=" patients-header">
			<input type="text">
			<input type="submit" value="zoeken" class="hvr-grow nopadding">
			<a href="new" class="hvr-grow pull-right nopadding"> <button class="button-bright">Nieuwe toevoegen <%= image_tag("icons/avatar-new.svg") %></button> </a>
			
			<ul>
				<li><h2>Sorteren op:</h2></li>
				<a href="#"><li>A-Z</li></a>
				<a href="#"><li>Soort blessure</li></a>
				<a href="#"><li>Laatst gewijzigd</li></a>
			</ul>
		</div>
		<div class="patient-items">
			<div class=" patients-item" style="border-bottom: none;">
				<div class="col-sm-6"><h2>Naam Oefening</h2></div>
				<div class="col-sm-6"><h2>Soort Oefening</h2></div>
			</div>

			<div class="patients-item">
				<div class="col-sm-1"><%= image_tag ("icons/Oefeningen-roze.svg") %></div>
				<div class="col-sm-5"><p>Squats</p></div>
				<div class="col-sm-3"><p>Billen,benen,core</p></div>
				<div class="col-sm-3"> <%= link_to "Bekijken", exercises_show_path, class:"hvr-grow button-white pull-right" %> </div>
			</div>

			<div class="patients-item">
				<div class="col-sm-1"><%= image_tag ("icons/Oefeningen-roze.svg") %></div>
				<div class="col-sm-5"><p>Legpress</p></div>
				<div class="col-sm-3"><p>Bovenbeen,core,knie</p></div>
				<div class="col-sm-3"><%= link_to "Bekijken", exercises_show_path, class:"hvr-grow button-white pull-right" %></div>
			</div>
		</div>
	</div>
</div>
